
@{
    ViewData["Title"] = "Thank You";
}
<strong>You have placed your order successfully.</strong>
<br />
<a asp-action="Index" asp-controller="ProductList">Back to Products</a>
<br />>

<img src="~/img/thankyou.jpg" width="300" height="200" />


